*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    background-color: rgba(0, 0, 0, 0.747);
   
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.507)) ,url("money-gfb93c5f8c_1920.jpg");
   
}

.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
   
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.485);
}

.container h1{
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 255, 128, 0.633);
    font-size: 23px;
}

.first-row{
     display: flex;
     color: aliceblue;
}



.input-field{
    border: 1px solid #999;
    color: aliceblue;
}

.input-field select{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
    color: rgb(107, 110, 113);
    background-color: rgba(245, 245, 220, 0.178);
}
h3{
    text-transform: lowercase;
}
.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.selection select{
    padding: 10px 20px;
    color: aliceblue;
}

a{
    
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
    background-color:rgba(0, 255, 128, 0.633);
}

a:hover{
    background-color: dodgerblue;
    color: aliceblue;
}

